In [1]:
l =[4,5,6,7,8,3,3,4,5]

In [2]:
for i in l:
    print(i**2) # '*' for multiplication, '**' for square

16
25
36
49
64
9
9
16
25

In [3]:
s ="euron"
for sudh in s:  # 'i' is a not a reversed key word
    print(sudh)

e
u
r
o
n

In [4]:
t = (4,5,6,7,8,8,8)
for i in t:
    print(i)

4
5
6
7
8
8
8

In [5]:
s = {4,5,6,7,8,8,3,4,5,6,6,7,7}
for i in s:
    print(i)

3
4
5
6
7
8

In [6]:
d = {"name":"euron", "class":"python eng","mentor":"sudhanshu kumar"}

In [10]:
for i in d.keys():
    print(i)

name
class
mentor

In [9]:
for i in d.values():
    print(i)

euron
python eng
sudhanshu kumar

In [12]:
for i, j in d.items():
    print(i,j)

name euron
class python eng
mentor sudhanshu kumar

In [13]:
l =["euron", 4,5,6,7,8,34,5.45,True,"sudh", False, 5+4j]

In [17]:
l1=[]
for i in l:
    if type(i) == str:
        l1.append(i)

In [19]:
l_str=[]
l_int=[]
l_float=[]
l_bool=[]
l_extra=[]
for i in l:
    if type(i) == str:
        l_str.append(i)
    elif type(i) == int:
        l_int.append(i)
    elif type(i) == float:
        l_float.append(i)
    elif type(i) == bool:
        l_bool.append(i)
    else:
        l_extra.append(i)

In [20]:
l_str

['euron', 'sudh']

In [21]:
l_int

[4, 5, 6, 7, 8, 34]

In [22]:
l_bool

[True, False]

In [23]:
l_extra

[(5+4j)]

In [24]:
l_float

[5.45]

In [25]:
s = "euron"
for i in s:
    print(i)

e
u
r
o
n

In [26]:
import string

In [30]:
string.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [28]:
letter =string.ascii_letters

In [31]:
for i in letter:
    print(i, end=" ")

a b c d e f g h i j k l m n o p q r s t u v w x y z A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

In [32]:
### Range function() produce the data in the particular range.

In [34]:
list(range(5))

[0, 1, 2, 3, 4]

In [35]:
list(range(1,5))

[1, 2, 3, 4]

In [36]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [38]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [39]:
a=0
b=1
limit =10
for i in range(10):
    print(a)
    a,b=b,a+b

0
1
1
2
3
5
8
13
21
34

In [40]:
i =0

while i <=10:
    print(i)
    i = i+1

0
1
2
3
4
5
6
7
8
9
10

In [41]:
row =5
for i in range(1, row+1):
    print("*"*i)

*
**
***
****
*****

In [46]:
'euron'+' '+'euron'*2

'euron euroneuron'

In [47]:
'euron'*3

'euroneuroneuron'

In [1]:
def test():
    pass

In [2]:
def test1():
    print("this is my first function")

In [3]:
test1()

this is my first function

In [4]:
def test2(a,b):
    print(a,b)

In [5]:
test2()

TypeError: test2() missing 2 required positional arguments: 'a' and 'b'

In [6]:
test2(4,8)

4 8

In [7]:
test2([1,2,3,4], "sudh")

[1, 2, 3, 4] sudh

In [8]:
def test3(a,b,c,d,e):
    print(a,b,c,d,e)

In [9]:
test3(2,3,4)

TypeError: test3() missing 2 required positional arguments: 'd' and 'e'

In [10]:
test3(1,2,3,4,5)

1 2 3 4 5

In [11]:
def test4(a):
    print(a)

In [12]:
test4(5) + 5

5

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [13]:
type(test4)

function

In [14]:
type(test4(5))

5

NoneType

In [15]:
def test5(a,b):
    return a+b

In [16]:
test5(4,7)

11

In [17]:
type(test5)

function

In [18]:
type(test5(4,7))

int

In [19]:
def test6(*args):
    return args

In [20]:
test6(5,6,7,[1,2,3,4])

(5, 6, 7, [1, 2, 3, 4])

In [21]:
def test7(*euron):
    return euron

In [22]:
test7(34,True, 3+5j, [1,2,3,4], "sudh")

(34, True, (3+5j), [1, 2, 3, 4], 'sudh')

In [25]:
def test8(*ineuron):
    test8(sum(ineuron))

In [ ]:
test8(1,2,3,4,5)

In [27]:
def test9(**kwargs):
    return kwargs

In [28]:
test9(name="sudh", company="euron")

{'name': 'sudh', 'company': 'euron'}

In [30]:
type(test9(name="sudh", company="euron"))

dict

In [35]:
def test10():
    return 'sudh', [4,5,6,7,8], (4,5,6,7,8)

In [36]:
test10()

('sudh', [4, 5, 6, 7, 8], (4, 5, 6, 7, 8))

In [37]:
a,b,c=test10()

In [38]:
a

'sudh'

In [39]:
b

[4, 5, 6, 7, 8]

In [40]:
c

(4, 5, 6, 7, 8)

In [41]:
def test11():
    """this is my test11 function created by euron in python eng live class
    is just a test function to teach my student about doc string"""

In [44]:
type(test11())

NoneType

#### <font color="green"> Lamda function </font>

In [45]:
def test12(a,b):
    return a+b

In [47]:
c =lambda a,b : a+b

In [49]:
c(4,4)

8

In [50]:
l = [3,4,5,6,7]

In [51]:
l1=[]
for i in l:
    l1.append(i**2)

In [52]:
l1

[9, 16, 25, 36, 49]

In [53]:
list(map(lambda x: x**2, l))

[9, 16, 25, 36, 49]

In [54]:
def sq(x):
    return x**2

In [55]:
list(map(sq, l))

[9, 16, 25, 36, 49]

In [56]:
l = [0,1,2,3,4,5,6,7,8,9]

In [57]:
l1_odd=[]
for i in l:
    if i %2 !=0:
        l1_odd.append(i)

In [58]:
l1_odd

[1, 3, 5, 7, 9]

In [59]:
list(filter(lambda x:x %2 !=0, l))

[1, 3, 5, 7, 9]

In [60]:
def filter_odd(x):
    if x % 2 !=0:
        return True

In [61]:
list(filter(filter_odd, l))

[1, 3, 5, 7, 9]

In [66]:
type(filter(filter_odd, l))

filter

In [67]:
print(filter(filter_odd, l))

<filter object at 0x0000021B11154888>

In [62]:
from functools import reduce

In [63]:
sum(l)

45

In [64]:
reduce(lambda x,y:x+y, l)

45

In [71]:
def factorial(n):
    if n == 0 or n ==1:
        return 1
    return n*factorial(n-1)

In [72]:
factorial(5)

120

In [73]:
s = "sudhanshu"

In [74]:
s[::-1]

'uhsnahdus'

In [75]:
def string_rev(s):
    if len(s) == 0:
        return ""
    return s[-1] + string_rev(s[:-1])

In [77]:
len(s)

9

In [78]:
len(s) == 0

False

In [76]:
string_rev(s)

'uhsnahdus'