Topics:
- Variables
- Data Types

In [1]:
1+1

2

In [2]:
a ="sudh"

In [3]:
a

'sudh'

In [4]:
type(a)

str

In [5]:
b = 5

In [6]:
type(b)

int

In [7]:
c = 45.62

In [8]:
type(c)

float

In [9]:
d = 'sudh'

In [10]:
type(d)

str

In [11]:
e = """Recommended to join this course completely end to end learn about python, ML,DL and GenAI. Just they provide for affordable price only 2999/-

The course will be start onwards tomorrow!

Euron Live course:-

Python - Nov-30th (8:45 am to 10:15 am) IST

MLOps - Dec-7th (11 am to 1 pm) IST

GenAI - Dec-7th (2:00 pm to 4:00 pm) IST

Full stack Data Science - Dec-14th (12:30 to 2 Pm) IST

Big Data Masters - Dec-21st (2:15 Pm to 3:45 Pm)

Business Analytics Masters - Dec-28th (6:00 to 7:30 PM) IST"""

In [13]:
e

'Recommended to join this course completely end to end learn about python, ML,DL and GenAI. Just they provide for affordable price only 2999/-\n\nThe course will be start onwards tomorrow!\n\nEuron Live course:-\n\nPython - Nov-30th (8:45 am to 10:15 am) IST\n\nMLOps - Dec-7th (11 am to 1 pm) IST\n\nGenAI - Dec-7th (2:00 pm to 4:00 pm) IST\n\nFull stack Data Science - Dec-14th (12:30 to 2 Pm) IST\n\nBig Data Masters - Dec-21st (2:15 Pm to 3:45 Pm)\n\nBusiness Analytics Masters - Dec-28th (6:00 to 7:30 PM) IST'

In [12]:
type(e)

str

In [14]:
g = '''Recommended to join this course completely end to end learn about python, ML,DL and GenAI. Just they provide for affordable price only 2999/-

The course will be start onwards tomorrow!

Euron Live course:-

Python - Nov-30th (8:45 am to 10:15 am) IST

MLOps - Dec-7th (11 am to 1 pm) IST

GenAI - Dec-7th (2:00 pm to 4:00 pm) IST

Full stack Data Science - Dec-14th (12:30 to 2 Pm) IST

Big Data Masters - Dec-21st (2:15 Pm to 3:45 Pm)

Business Analytics Masters - Dec-28th (6:00 to 7:30 PM) IST'''

In [15]:
g

'Recommended to join this course completely end to end learn about python, ML,DL and GenAI. Just they provide for affordable price only 2999/-\n\nThe course will be start onwards tomorrow!\n\nEuron Live course:-\n\nPython - Nov-30th (8:45 am to 10:15 am) IST\n\nMLOps - Dec-7th (11 am to 1 pm) IST\n\nGenAI - Dec-7th (2:00 pm to 4:00 pm) IST\n\nFull stack Data Science - Dec-14th (12:30 to 2 Pm) IST\n\nBig Data Masters - Dec-21st (2:15 Pm to 3:45 Pm)\n\nBusiness Analytics Masters - Dec-28th (6:00 to 7:30 PM) IST'

In [16]:
type(g)

str

In [17]:
e = 4 + 8j

In [18]:
type(e)

complex

In [19]:
e.imag

8.0

In [20]:
e.real

4.0

In [21]:
f = []

In [22]:
type(f)

list

In [23]:
g = [1,2,3,4,5,6,7,8]

In [24]:
type(g)

list

In [27]:
h = [348, 13.4, "euron.one", True, 5+8j]

In [28]:
type(h)

list

In [31]:
i = ()

In [32]:
type(i)

tuple

In [34]:
j = (1,2,3,4,5,6,7,8)

In [35]:
type(j)

tuple

In [36]:
k = (348, 13.4, "euron.one", True, 5+8j)

In [37]:
type(k)

tuple

In [38]:
h + k

TypeError: can only concatenate list (not "tuple") to list

In [39]:
l = {}

In [1]:
type(l)

NameError: name 'l' is not defined

In [41]:
m = {1,2,3,4}

In [42]:
type(m)

set

In [43]:
n = {1,3,46,5,6,8,9,8,0,1,3,4,6,68,5}

In [44]:
n

{0, 1, 3, 4, 5, 6, 8, 9, 46, 68}

In [45]:
type(n)

set

In [46]:
o = {348, 13.4, "euron.one", True, 5+8j, "Euron.one", "euron.one", 'iNeuron.ai'}

In [48]:
o

{(5+8j), 13.4, 348, 'Euron.one', True, 'euron.one', 'iNeuron.ai'}